header, footer{
	position:static;
	text-align:right;
	background: url('CodeHeader_Photo.jpg')50px;
	color:lightslategrey; 
	border-radius: 9px;
	}
body{
	background-color:black;
}
footer{
	background-color: red;
	text-align:center;
	color:white; 
	}

header img {
	width:200px;
	height:200px;
	margin-bottom:-62px;
      }

nav { 
	background-color:lightslategrey;
	height:45px;
	border-radius:9px;
	text-color:white;
	text-decoration:none;
	}

nav li a {
	color:white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida   Sans", "DejaVu Sans", Verdana, "sans-serif";
	text-decoration:none;
      float: center;
	}

.navlist{
	display:inline-block; 
	width:150px; 
	text-align:center; 
	margin:10px;
	}

li a:hover{
	color:#E8B46A;
	font-weight: bold;
	}
#education li {
	font-size: 1.5em;
	
	}
.grid-container {
	 display:grid;
	 grid-template-columns: repeat(3, 4fr);
	 
	 }

#education{
	background: url('RICLogo_Photo.png')fixed;
  	animation: bottomToTop 40s linear infinite; 
	background-repeat:repeat-x;	
}
  
@keyframes bottomToTop {
  from {background-position: bottom;}
  to {background-position: top;}
}

#experience{
	background: url('Abate_Photo.jpg')fixed;
}

#goals{
	background: url('Blockchain_Photo.jpg')fixed center;
	background-repeat:no-repeat;
	animation: rightToLeft 35s linear infinite;
}
@keyframes rightToLeft {
  from {background-position: right;}
  to {background-position: left;}
}

#languages{
	background: url('CodeArticle_Photo.jpg')fixed center;
	animation: topToBottom 50s linear infinite;
}
@keyframes topToBottom {
  from {background-position: top;}
  to {background-position: bottom;}
}

#provbeats{
	background: url('Booth_Photo.jpg')fixed center;
	
	
}
#softskills{
	background: url('Heart_Photo.jpg')fixed center;
	animation: bottomToTop 10s linear infinite;
	background-repeat: repeat-x
}


article {
	color: white;
	margin: 25px;
	align-content: center;
  	padding: 10px;
	padding-bottom: 10px;
  	width: 85%;
 	height: 85%;
	border: thin solid lightslategrey;
	box-shadow: 4px 7px lightslategrey; 
	border-radius: 9px;   
  	
	}	
	
@media screen and (min-width: 320px){
    .grid-container{
		grid-auto-rows: minmax(300px, auto);  
		grid-template-columns: repeat(1, 3fr);
      		flex-direction: column;
	}
	nav { 
		background-color:lightslategrey;
		height:45px;
		border-radius:9px;
		text-color:white;
		text-decoration:none;
	}
	nav li a {
		color:white;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida   Sans", "DejaVu Sans", Verdana, "sans-serif";
		text-decoration:none;
      	float: center;
	}
	.navlist{
		display:inline-block; 
		width:100px; 
		text-align:center; 
		margin:10px;
	}
	li a:hover{
		color:#E8B46A;
		font-weight: bold;
	}
	
      	
}

    
/*end of 480px media query*/
		
@media screen and (min-width: 769px){
    .grid-container{
	grid-auto-rows: minmax(300px, auto);  
	grid-template-columns: repeat(2, 3fr);
      flex-direction: column;	
	}	
}
	
@media screen and (min-width: 1080px){
    .grid-container{
	grid-auto-rows: minmax(300px, auto);  
	grid-template-columns: repeat(3, 3fr);
      flex-direction: column;	
	}	
}
 
/***************skills bars***************/
.container {
  height:20px; 
  background-color: lightslategrey; 
  border-radius: 9px;
  margin-bottom:25px;
  }

.skills {
  border-radius: 9px;
  text-align: left;
  padding-left: 9px;
  padding-top: 1px; 
  padding-bottom: 1px; 
  color: white; 
}
	
.java {width: 70%; background-color: #2196F3;}
.python {width: 50%; background-color: #2196F3;} 
.html {width: 70%; background-color: #2196F3;} 
.css {width: 60%; background-color: #2196F3;} 
.js {width: 35%; background-color: #2196F3;} 
.sql {width: 12%; background-color: #2196F3;} 
.english {width: 90%; background-color: #2196F3;}
.spanish {width: 60%; background-color: #2196F3;}

.communication {width: 80%; background-color: #2196F3;}
.creativity {width: 80%; background-color: #2196F3;} 
.criticalThinking {width: 70%; background-color: #2196F3;} 
.teamWork {width: 70%; background-color: #2196F3;} 
.grit {width: 90%; background-color: #2196F3;} 
.empathy {width: 60%; background-color: #2196F3;}


/***************contact page***************/
fieldset{
	margin-bottom: 30;
	margin-right: 600px;
    }

label{
       display: inline-block;
       margin-left:28px;
       clear: left;
       width: 260px;
       text-align: left;
     }
